<div class="container">
  <table class="table table-striped table-hover">

    <thead class="table-light">
      <tr>
        <th>Id</th>
        <th>Airline Name</th>
        <th>Country</th>
        <th>Slogan</th>
        <th>Head Quaters</th>
        <th>Website</th>
        <th>Established</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> {{airline.id}} </td>
        <td> {{airline.name}} </td>
        <td> {{airline.country}} </td>
        <td> {{airline.slogan}} </td>
        <td> {{airline.head_quaters}} </td>
        <td> {{airline.website}} </td>
        <td> {{airline.established}} </td>

      </tr>
    </tbody>
  </table>
</div>
